/**
 * TeX support theme
 *
 * @author Sean Allred
 * @version 1.0
 */

pre .tex.space {
    color: #BBB;
}

pre .tex.comment {
    color: #998;
}

/** EXPL3 FUNCTIONS **/

pre .tex.function {
    font-weight: bold
    color: #900;
}

pre .tex.function.parameter {
    color: #F00;
}

pre .tex.function.argspec {
    color: #009;
}

pre .tex.function.module {
    color: #090;
}

/** EXPL3 VARIABLES **/

pre .tex.variable {
    color: #080;
}

pre .tex.variable.scope {
    color: #800;
}

pre .tex.variable.type {
    color: #008
}

/** MACROS **/

pre .tex.macro {
    font-weight: bold;
    color: #000;
}

pre .tex.macro.parameter {
    color: #F00;
}

/** ENVIRONMENTS **/

pre .tex.environment.name {
    color: #090;
}

/** KEY--VALUE **/

pre .tex.keyval.key {
    color: #090;
}

pre .tex.keyval.value {
    color: #009;
}
